
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    background-color: #fdf5f0;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;

}

.whole {
    --bs-gutter-x: 0;
    position: relative;

}

.capsule_1{
    position: absolute;
    width: 40%;
    margin-left: -10%;
    margin-top: -1.5%;
    z-index: 1;
    rotate: 30deg;
    opacity: 0.5;
}
.capsule_2{
    
    position: absolute;
    width: 40%;
    margin-left: 70%;
    margin-top: 20%;
    z-index: 1;
    rotate: 30deg;
    opacity: 0.5;
}
.round_tablet_1{
    position: absolute;
    width: 10%;
    margin-left: 93%;
    margin-top: -1.3%;
    z-index: 2;
    rotate: 30deg;
    opacity: 0.5;
}
.header_content{
    position: relative;
    --bs-gutter-x: 0rem;
    margin-top : -1%;
    display: flex;
    flex-direction: column; 
}
.header-bar {
    background-color: #f3c892;
    --bs-gutter-x: 0rem;
    /* gold bar */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    z-index: 2;
    width: 100%;
}

.header-title {
    color: #6b2e2e;
    font-family: 'Lora', serif;
    padding-top: 1rem;
    font-size: 6.5vw;
    font-weight: 900;
    margin: 0;
    font-style: bold;
}

.sub-heading {
    font-weight: 400;
    padding-bottom: 0.3rem;
    color: #000;
    margin-top: -0.25rem;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -1.3%;
    --bs-gutter-x: 0rem;
}
/* Floating card */
.intro-card-fluid {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    /*margin-top: -rem;*/
    /* negative margin to pull it over the gold bar */
}
.intro-card h4 {
    font-size: clamp(0.85rem, 3vw, 1.1rem);
    margin-bottom: 1rem;
}
.quick-note {
  display: flex;
  align-items: center;
  background-color: #ffecec;
  padding: 20px;
  margin-bottom:1.5vw;
  width: 100%;
border-radius: 3vw 0vw 0vw 3vw;
}

.quick-note-label {
  flex: 0 0 auto; /* don’t stretch, keep on the left */
  font-weight: bold;
}

.quick-note-text {
  flex: 1;              /* take the remaining space */
  text-align: center;   /* center text horizontally */
}

.drug_introduction{
    position: relative;
    margin-top: 1px;
    padding: 1.3vw;
}
.drug_class_family_patent {
    position: relative;
    margin-top: 1px;
    padding: 1.3vw;
}

.drug-image-float {
  float: right;
  width: 35%;
  height: auto;
  margin-top: 2vw;     /* <-- pushes image down */
  margin-left: 1.2rem;
  margin-bottom: 1rem;

  shape-outside: ellipse(30% 60% at 40% 60%);
  clip-path: ellipse(100% 70% at 80% 60%);
  -webkit-shape-outside: ellipse(30% 60% at 40% 60%);
  -webkit-clip-path: ellipse(100% 70% at 80% 60%);
}
.drug {
  float: left;
  width: 8%;
  height: auto;    /* <-- pushes image down */
  margin-top: 0.7vw;
  margin-left: -2vw;
  margin-right: 2vw;
  margin-bottom: 0.5vw;

  shape-outside: ellipse(30% 60% at 40% 60%);
  clip-path: ellipse(100% 70% at 80% 60%);
  -webkit-shape-outside: ellipse(30% 60% at 40% 60%);
  -webkit-clip-path: ellipse(100% 70% at 80% 60%);
}


@media (max-width: 600px) {
    body {
        font-size: 0.7rem;
    }
  .header-bar {
    margin-top: 3.5%;
    padding: 1px ;
  }
  .sub-heading {
    font-weight: 400;
    margin-bottom:0.5%;
}
}
@media (max-width: 768px) {
  .drug-image-float {
    float: none;
    display: block;
    margin: 1rem auto;
    width:45%;
    shape-outside: none;
    clip-path: none;
  }
}
